

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dr. Rishi Dwivedi Baby Care Chhatarpur M.P. India</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="baby care" name="keywords">
    <meta content="best baby care" name="description">

    <link href="~/Images/MainImage/favicon.png" rel="icon">
    <link href="~/Images/MainImage/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->

    <link href="~/Content/maincss/font-awesomemain.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link href="~/Content/maincss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/maincss/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/maincss/aos.css" rel="stylesheet" />
    <link href="~/Content/maincss/all.css" rel="stylesheet" />
    <link href="~/Content/maincss/glightbox.css" rel="stylesheet" />
    <link href="~/Content/maincss/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/Content/maincss/main.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body>
    @Html.Partial("_MasterHeader")
    @RenderBody()
    @{ Html.RenderPartial("_MasterFooter");}
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="~/js/MainJs/bootstrap.bundle.min.js"></script>
    <script src="~/js/MainJs/validate.js"></script>
    <script src="~/js/MainJs/aos.js"></script>
    <script src="~/js/MainJs/glightbox.js"></script>
    <script src="~/js/MainJs/purecounter_vanilla.js"></script>
    <script src="~/js/MainJs/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/js/MainJs/main.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- Template Javascript -->
</body>
</html>


